.registration-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: teal;
    flex-direction: column;
  }
  
  h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .link {
    text-decoration: white;
    color: white;
  }
  
  .input-container {
    margin-bottom: 15px;
    text-align: left;
  }
  
  input {
    width: 95%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  button {
    width: 95%;
    /* padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer; */
    font-weight: bold;
    padding: 10px;
    border: none;
    background-color: blue;
    cursor: pointer;
    color: white;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .log-input-container {
    margin-bottom: 15px;
    /* text-align: left; */
    width: 215px;
    /* padding: 10px; */
    /* border: none; */
    border-radius: 15px;
    border-bottom: 1px solid gray;
  }
  
 .log-button {
    padding: 10px;
    width: 215px;
    background-color: blue;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .log-link {
    text-decoration: white;
    color: white;
  }

  .log-button:hover {
    background-color: #0056b3;
  }
  
